# Gradle
# Build your Java project and run tests with Gradle using a Gradle wrapper script.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
  paths:
    exclude:
      - README.md
      - CHANGELOG.md
      - CODE_OF_CONDUCT.md
      - CONTRIBUTING.md
      - LICENSE

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: Gradle@2
  inputs:
    workingDirectory: ''
    gradleWrapperFile: 'gradlew'
    gradleOptions: '-Xmx3072m'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.8'
    jdkArchitectureOption: 'x64'
    publishJUnitResults: true
    testResultsFiles: '**/TEST-*.xml'
    tasks: 'build buildPlugin'
- task: CopyFiles@2
  displayName: 'Copy build to Artifact staging directory'
  inputs:
    sourceFolder: '$(Build.SourcesDirectory)'
    contents: '$(Build.SourcesDirectory)/build/distributions/*.zip'
    targetFolder: '$(Build.ArtifactStagingDirectory)'
    flattenFolders: true
- task: PublishBuildArtifacts@1
  displayName: 'Publish build artifacts'
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: build
- task: GithubRelease@0
  displayName: 'Add assets to GitHub Release'
  condition: startsWith(variables['Build.SourceBranch'], 'refs/tags/')
  inputs:
    gitHubConnection: crowdin
    repositoryName: crowdin/android-studio-plugin
    action: edit
    target: '$(Build.SourceVersion)'
    assets: '$(Build.ArtifactStagingDirectory)/build/*.zip*'
    assetUploadMode: 'replace'
