name: Package

on:
  release:
    types: [released]

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Execute Gradle
        run: ./gradlew build buildPlugin verifyPlugin

      - name: Upload asset
        uses: softprops/action-gh-release@v1
        with:
          files: build/distributions/Crowdin-*.zip
